<MarketplaceDetails>
  <SmallAppTile>Debit-Card.png</SmallAppTile>
  <ScreenShots>vocabulary01.png;vocabulary02.png;vocabulary03.png;vocabulary04.png;vocabulary05.png;vocabulary06.png;;;</ScreenShots>
  <ScreenShotsWXGA>;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>